appdirs==1.4.0
astroid==1.4.9
bfg9000==0.2.0
Brlapi==0.6.5
colorama==0.3.7
Cython==0.25.2
doppel==0.2.0
isc==2.0
isort==4.2.5
lazy-object-proxy==1.2.2
louis==3.0.0
mccabe==0.5.3
Mopidy==2.0.0
Mopidy-Plex==0.1.0b0
packaging==16.8
patchelf-wrapper==1.0.1
PlexAPI==2.0.1
Pykka==1.2.1
pylint==1.6.4
pyparsing==2.1.10
pyxdg==0.25
requests==2.10.0
six==1.10.0
stevedore==1.19.1
tabulate==0.7.7
team==1.0
tornado==4.3
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wrapt==1.10.8
youtube-dl==2016.12.22
